:root{
  --background-color: rgb(247, 231, 217);
  --input-background-color:rgb(247, 239, 235);
  --text-color: black;
  --border-color:black;
  --local-error-color: red;
  --nonlocal-error-color: orange;
}
[data-theme="dark"] {
  --background-color: rgb(79, 61, 45);
  --input-background-color:rgb(113, 87, 74);
  --text-color: white;
  --border-color:rgb(165, 133, 106);
  --local-error-color: rgb(255, 111, 111);
  --nonlocal-error-color: rgb(177, 116, 2);
}

button{
  color:black;
}

*{
    box-sizing: border-box;
    color: var(--text-color)
}
body{
    background-color: var(--background-color);
}

input{
    background-color: var(--input-background-color);
}

div{
    margin: 10px;
}

#resolution-label{
    margin-left: 10px;
}

#myCanvas{
    border: 1px solid pink;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    position: relative;
    transform:  translate(-50%,-50%);
    background-color: var(--input-background-color);
}

#parent{
    border: 5px solid black;
    height: 450px;
    width: 900px;
    margin:0;
    box-sizing: content-box;
    position: relative;
}

#wrapper{
    height: 0px;
    width: 0px;
    overflow: hidden;
}

#myframe{
    height: 10000px;
    width:  10000px;
}

#top{
    margin-left: 10%;
    margin-right: 10%;
}
#map-and-resolution-container{
    width:100%;
    display: flex;
}

#slider-parent{
    display: block;
    width: 40px;
    height:300px;
    padding:0;
    margin:0;
    margin-top: 10px;
}


.StatusOk{
    color: blue;
}

.StatusBad{
    color: red;
}

.Local-Error{
    border: 2px solid var(--local-error-color);
}

.Nonlocal-Error{
    background-color: var(--nonlocal-error-color);
}

#resolution.Active{
    opacity: 1;
}

#resolution{
    opacity: .5;
    width: 300px;
    height: 40px;
    margin: 0;
    transform-origin: 150px 150px;
    transform: rotate(-90deg);
}

.bring-to-bottom{
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin:0;
}
.just-get-over-with{
    display: flex;
    margin:0
}
#map-and-resolution-container{
    margin: 0;
}

#optional{
    margin:0;
}

.bounds-input{
    margin:0;
}
.m0{
    margin: 0;
}
.bounds-parent{
    display: grid;
    grid-template-columns: 88px 6rem 88px 6rem;
    row-gap: .8rem;
}
input[type=number]{
    width: 5rem;
    display: inline-block;
}
.flexb{
    display:flex;
}


#project-button{
height: 30px;
width:  75px;
font-size: 13pt;
}
#canvas-tip{
    display: none;
}

#loader-warning{
    position: absolute;
    width: 20rem;
    font-size: x-large;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
}
.display-none{
    display: none;
}

.lds-roller {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    left: 50%;
    transform: translate(-50%);
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
    margin: 0;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
#color-inputs-parent{
    display: grid;
    grid-template-columns: max-content max-content;
  }

  #toggle-darkmode{
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    font-size: large;
  }