#myCanvas{
    border: 1px solid pink;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    position: relative;
    transform:  translate(-50%,-50%);
}
#parent{
    border: 5px solid black;
    height: 450px;
    width: 900px;
}

#wrapper{
    height: 0px;
    width: 0px;
    overflow: hidden;
}

#myframe{
    height: 10000px;
    width:  10000px;
}

#top{
    margin-left: 10%;
    margin-right: 10%;
}

.StatusOk{
    color: blue;
}

.StatusBad{
    color: red;
}

.Local-Error{
    border: 3px solid red;
}

.Nonlocal-Error{
    background-color: orange;
}

#resolution.Active{
    opacity: 1;
}

#resolution{
    opacity: .5;
}